@using WebApplication1.Models;
@model Cancion

@{
    ViewBag.Title = "Home Page";
}

<h1>Tal vez te interese</h1>
@{
    if (ViewBag.ListaCanciones != null)
    {
        foreach (Cancion c in ViewBag.ListaCanciones)
        {
            <h3>@c.Nombre</h3>
            <audio src="~/Musica/@c.Ubicacion" controls loop></audio>

        }
    }
}

