@using WebApplication1.Models;
@model Cancion

@{
    ViewBag.Title = "Home Page";
}

<body>
    <h1 style="color:orange;">Bienvenido!!</h1>
    <div class="banner-bottom text-center" style="color:white;">

        <h3>HOLA!!</h3>
        <h4>Bienvenido al proyecto Phoenix</h4>
        <p>
            Aqui encontraras musica/ podcasts de diferentes artistas conocidos y que recien estan empezando.
            Tambien tienes la posibilidad de subir tu propia musica/podcast.
        </p>

    </div>
    @using (Html.BeginForm("Index", "Usuarios", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <p>Buscar por nombre:</p>
        <p style="color: black">
            @Html.TextBox("busqueda")
            <input type="submit" value="Buscar"  />
        </p>
    }
    @{

        if (ViewBag.ListaCanciones != null)
        {
            foreach (Cancion c in ViewBag.ListaCanciones)
            { 
                    <br><label style="color:white;margin:auto;">Nombre de la Cancion: @c.Nombre</label> <br />
                    <br><audio src="~/Musica/@c.Ubicacion" controls loop></audio>
                    <br><label style="color:white;font-size:13px">Artista: @c.Artista</label><br />
                    <div class="form-input editContent" data-selector=".editContent" style=""><button class="btn" data-selector="a.btn, button.btn" style="">@Html.ActionLink("Agregar a Favoritos", "AgregarFavoritos", "Usuarios", new { id = c.id }, null)</button></div>
                
            }
        }
     }

    </body>
 

