@using WebApplication1.Models;
@model Cancion

@{
    ViewBag.Title = "Home Page";
}
<body>
    <h1 style="color:orange;">Bienvenido!!</h1>
    <div class="banner-bottom text-center" style="color:white;">

        <h3>HOLA!!</h3>
        <h4>Bienvenido al proyecto Phoenix</h4>
        <p>
            Aqui encontraras musica/ podcasts de diferentes artistas conocidos y que recien estan empezando.
            Tambien tienes la posibilidad de subir tu propia musica/podcast.
        </p>

    </div>
    @{

        if (ViewBag.ListaCanciones != null)
        {
            foreach (Cancion c in ViewBag.ListaCanciones)
            {

                <br><label style="color:white;margin:auto;">@c.Nombre</label> <br />
                <br><audio src="~/Musica/@c.Ubicacion" controls loop></audio><br />
                <br><label style="color:white;font-size:13px">@c.Artista</label><br />
                <input style="color:black" type="button" name="Fav" class="button1" value="Agregar Favoritos" />


            }
        }

    }
</body>

