@using WebApplication1.Models
@model Usuario
@{
    ViewBag.Title = "LogIn";
}

@using (Html.BeginForm("LogIn", "Usuarios", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    <body> 
<div style="padding: 15%; text-align:center;float:left;margin-left:25%;background-color:transparent;">   
 <div class="form-group">
        <label for="NombreUsuario" class="text-info">Username:</label><br>
        <input type="text" name="NombreUsuario" id="NombreUsuario" class="form-control">
    </div>
    <div class="form-group">
        <label for="Contraseña" class="text-info">Password:</label><br>
        <input type="password" name="Contraseña" id="Contraseña" class="form-control">
    </div>
    <div class="form-input editContent" data-selector=".editContent" style=""><button class="btn" data-selector="a.btn, button.btn" style="">Login</button></div>
</div>
        </body>
}


