@using WebApplication1.Models
@model Usuario
@{
    ViewBag.Title = "MICUENTA";
}
@if (Session["id"] != null)
{
    <h2 style="color:white">Mi Cuenta</h2>
     if (ViewBag.Usuario != null)
        {
            <body>
                <br /><label style="color:white">Nombre: @ViewBag.Usuario.Nombre</label>
                <br /><label style="color:white">Apellido: @ViewBag.Usuario.Apellido</label>
                <br /><label style="color:white">Correo: @ViewBag.Usuario.Correo</label>
                <br /><label style="color:white">Nombre de Usuario: @ViewBag.Usuario.NombreUsuario</label>
            </body>
        }
    
        }
        else
        {
            <h2>NO ESTAS LOGUEADO</h2>
        }



