@using WebApplication1.Models;
@model Usuario
@{
    ViewBag.Title = "Perfil";
}
<body>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4> </h4>
    </body>

@Html.ActionLink("Subir Audio", "SubirMusica", "Usuarios")