@using WebApplication1.Models;
@model Usuario
@{
    ViewBag.Title = "Perfil";
}

<body>
    @if (ViewBag.Usuario != null)
    {
        foreach (Usuario u in ViewBag.Usuario)
        {
            <h1 style="color:white;">@u.NombreUsuario</h1>
        }
    }
</body>

@Html.ActionLink("Subir Audio", "SubirMusica", "Usuarios")