@using WebApplication1.Models
@model Usuario
@{
    ViewBag.Title = "SubirMusica";
}
@if (Session["id"] != null)
{
    <h2>SubirMusica</h2>
    using (Html.BeginForm("SubirMusica", "Usuarios", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <body>
            <p style="color:black">@Html.Label("Nombre: ") @Html.TextBoxFor(x => x.Nombre) @Html.ValidationMessageFor(x => x.Nombre) <br></p>
            @Html.Label("Audio: ") <input type="file" value="Mandar audio del cliente al controller" name="Audio" /><br>
            <button style="color:black" submit">Subir Musica</button>
        </body>
    }
}
else
{
    <h2>NO ESTAS LOGUEADO</h2>
}