@using WebApplication1.Models
@model Cancion
@{
    ViewBag.Title = "Tendencia";
}
<body>
    @{

        if (ViewBag.ListaCanciones != null)
        {
            foreach (Cancion c in ViewBag.ListaCanciones)
            {
                <label>@c.Nombre</label>
                <audio src="~/Musica/@c.Ubicacion" controls loop></audio>

            }
        }

    }

</body>