@using WebApplication1.Models
@model Cancion
@{
    ViewBag.Title = "Tendencia";
}
<body>
    @{

        if (ViewBag.ListaCanciones != null)
        {
            foreach (Cancion c in ViewBag.ListaCanciones)
            {
                <br /><label>@c.Nombre</label><br />
                <br /><audio src="~/Musica/@c.Ubicacion" controls loop></audio><br />

            }
        }

    }

</body>